.button-page {
    background: var(--primary-color); /* Utilise la couleur de fond primaire */
    color: var(--secondary-color); /* Utilise la couleur du texte secondaire */
    font-family: inherit;
    padding: 0.45em;
    padding-left: 1em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    cursor: pointer;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3em;
    transition: all 0.3s; /* Ajout de la transition pour les effets hover et active */
  }
  
  .button-page:hover {
    transform: translate(-0.05em, -0.05em); /* Décalage de couleur lors du survol */
    box-shadow: 0.15em 0.15em var(--secondary-color); /* Utilisation de la couleur secondaire pour la ombre */
  }
  
  .button-page:active {
    transform: translate(0.05em, 0.05em); /* Décalage de couleur lors du clic */
    box-shadow: 0.05em 0.05em var(--secondary-color); /* Utilisation de la couleur secondaire pour la ombre */
  }
  
  .iconButton {
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7a8cf3;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  