.contain_searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 190px;
    margin-top: 110px;
  }
  
  .form-control input {
    background-color: transparent;
    border-radius: 30px;
    border: 0;
    border: 2px var(--primary-background-color) solid;
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: var(--primary-background-color);
    font-family: var(--primary-font);
    position: absolute;
  }
  
  .form-control input:focus,
  .form-control input:valid {
    outline: 0;
    border-color: var(--secondary-color);
  }
  
  .form-control label {
    position: absolute;
    top: 15px;
    left: 10px;
    pointer-events: none;
  }
  
  .form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: var(--primary-background-color);
    font-family: var(--primary-font);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .form-control input:focus+label span,
  .form-control input:valid+label span {
    color: var(--secondary-color);
    transform: translateY(-40px);
  }