.contain_searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../assets/img/jim.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin: 110px 1rem 0 1rem;
  height: 100%;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 190px;
  margin-top: 2rem;
  margin-bottom: 50px;
  
}

.form-control input {
  background-color: transparent;
  border-radius: 30px;
  border: 0;
  border: 2px var(--secondary-background-color) solid;
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  font-family: var(--primary-font);
  position: absolute;
  background-color: rgba(160, 160, 160, 0.5);
  z-index: 10;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-color: var(--secondary-background-color);
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 10px;
  pointer-events: none;
  z-index: 11;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: var(--secondary-color);
  font-family: var(--primary-font);
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: var(--secondary-background-color);
  transform: translateY(-40px);
}

.textSearchBar {
  padding: 2rem;
  background-color: rgb(0,0,0,0.3);
  margin-top: -82px;
  padding-top: 7rem;
  border-radius: 15px;
}
